.container {
  display: flex;
  gap: 0.3125rem;
  margin-top: 1rem;
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 12.5rem;
  border: 1px solid gray;
  padding: 0.5rem;
}
